{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
{# leaflet #}
<h1>Leaflet et symfony</h1>
<form action="/action_page.php">
    <label for="postalCode">Code postal:</label>
    <input type="text" id="postalCode" name="postalCode"><br><br>
    <label for="postalCode">Code postal:</label>
        <select name="cars" id="cars">
        <option value="town"></option>     
        </select>
</form> 
<div class="mapLeaflet">
    <div id="map"></div>
</div>
    
{% endblock %}
