{% extends 'base.html.twig' %}

{% block title %}Hello CodePostalController!{% endblock %}

{% block body %}
{# leaflet #}
<h1>Leaflet et symfony</h1>

{% for coordinate in coordinates %}
    <li>{{ coordinate.display_name }}</li>
{% endfor %}




{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
{{ form_end(form) }}

<div class="mapLeaflet">
    <div id="map"></div>
</div>


{% endblock %}
